@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	font: 16px;
}
body {
	background-image: url("pictures/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
	font-family: 'Mina', sans-serif;
}

#canvas1 {
	background: white;
	border: 5px solid black;
	margin-left: 10px;
}

#toolBox {
	background-color: rgba(255,255,255,0.7);
	height: 800px;
}

#menu {
	background-color: rgba(255,255,255,0.7);
	height: 800px;
	border-right: 5px rgba(0,0,0,0.1) solid ;
	padding: 0px;
}

h1 {
	font-size: 5rem;
	text-shadow: 2px 2px 5px gray;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: rgba(255,255,255,0.5);
}

.text {
	font-size: 2rem;
	text-shadow: 2px 2px 5px gray;
}
.tool {
	width: 100px;
	height: 100px;
	margin: auto;
}

.btn {
	width: 100px;
	height: 100px;
	margin: auto;
}

.tool:hover , .btn:hover{
	transition: all 0.6s;
	background: rgba(0,0,0,0.1);
	width: 150px;
	height: 150px;
}

.tool.clicked {
	border: 5px solid orange;
	border-radius: 5px;
	padding: 10px;
}

.lineWidth.clicked {
	border: 2px solid orange;
}

#color-input {
  display: none;
}
#color-label {
  margin-left: 15px;
  height: 40px;
  width: 40px;
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  left: 70px; 
  background-color: white;
  height: 150px;
  width: 200px;
  border: solid 1px #ccc;
  opacity: 1;
  padding: 5px;
}
canvas {
  cursor: crosshair;
}

#imageLoader {
	display: none;
}
